/* Estilos para o projeto ECO 3D */

body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: rgb(189, 194, 189);
}
main {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 700px;
    box-shadow: 10px, 10px, 10px #1b260b;
}
img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 1;
}

h1 {background-color: rgb(71, 95, 71);
    text-align: center;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

h2 {
    color: #333;
}

hr {
    border: 2px solid #ccc;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    color: black;
}

a {
    color: #00aaff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

abbr {
    text-decoration: none;
    border-bottom: 1px dotted #000;
}

ins {
    text-decoration: none;
    background-color: #f0f8ff;
}

mark {
    background-color: aquamarine;
    padding: 0.2em;
}

/* Estilos para as tags de busca */
strong ins a {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #00aaff;
}

/* Estilos para links externos */
a[rel="external"]::after {
    content: " (externo)";
    font-size: 0.8em;
    vertical-align: super;
}

/* Estilos para a imagem do logo */
img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.carousel-container {
    display: flex;
    overflow: hidden;
}

.carousel-slide {
    min-width: 100%;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.carousel-button {
    margin-top: 10px;
}